h1 {
    color: black;
}
ul {
    background-color: lightyellow;
}
img {
    height: auto;
    width: 200px;
}
ol {
    background-color: lightyellow;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}